:root {
    color-scheme: light dark;
    --subtitle-text-color: #444;
    --border-color: #000;
    --link-color: -apple-system-blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --subtitle-text-color: #999;
        --border-color: #fff;
        --link-color: -apple-system-blue;
    }
}

a {
   color: var(--link-color); 
}

a :visited {
    color: var(--link-color); 
}

.resume {
    max-width: 800px;
    align-items: stretch;
    flex-direction: column;
}
.centeredFlex
{
    align-items: center;
    justify-content: center;
    display: flex;
}
.centeredFlex div
{
    margin-left: 4px;
    margin-right: 4px;
}
.sectionHeading {
    margin: 0;
}
.subtitle, .location, .dates {
    color: var(--subtitle-text-color)
}
.contactDetails
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body
{
    font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande", "Roboto", "Segoe";
        /*font-family: "Helvetica"*/
    margin: 1in 2in;
    line-height: 1.5em;
    font-size: 11pt;
    padding-bottom: env(safe-area-inset-bottom);
}

ul
{
    padding: 0;
    list-style-position: outside;
    margin-left: 1em;
}
.sectionHeader
{
    margin-top: 0.6em;
    margin-bottom: 0.3em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid var(--border-color);
    font-size: 2em;
    font-weight: 800;
    line-height: 1.1em;
}
.section
{
    margin-bottom: 20px;
}
.separated
{
    display: flex;
    justify-content:space-between;
    align-items: center
}
ul
{
    margin-top: 0px;
}
p {
    font-size: 1em;
    margin: 0;
    margin-top: 2px;
}

/* .DownloadButton {
    margin-top: 40px;
    padding: 20px 40px 20px 40px;
    background-color: #1A8CDC;
    border-radius: 20px;
    color: white;
    text-decoration: none;
} */
.Footer {
    font-size: 0.8em;
    margin-top: 2em;
}

.Footer a {
    color: var(--link-color)
}

@media screen and (max-width: 1100px) and (min-width: 500px)
{
    body {
        margin: 16px 32px 16px 32px;
    }
    .resume {
        margin: 0;
    }
}
@media screen and (max-width: 500px)
{
    .centeredFlex {
        flex-direction: column
    }
    .centeredFlex span {
        display: none
    }
    .contactDetails h1 {
        text-align: center;
        line-height: 1.1em;
    }
    body {
        margin: 8px 16px 8px 16px;
    }
    .resume {
        margin: 0;
    }
}

/* @media print {
    body {
        margin: 0.5in 1.0in 0.5in 1.0in;
    }
    .resume {
        margin: 0px;
    }
    @page { margin: 0; }

    
} */

@media print { 
    .Footer {
        display: none;
    }

    body {
        margin: 0.8in;
    }

    a {
    color: #017aff
    } 

    a:visited {
    color: #017aff
    }
    .resume {
    max-width: 100%;
    align-items: stretch;
    flex-direction: column
    }
}